* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Great+Vibes&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --coral: rgb(255 176 115);
  --white: #ffffff;
  --black: #1b1b1b;
  --font: "Alex Brush", cursive;
  --secondary-font: "Old Standard TT", serif;
}

body {
  position: relative;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/BG.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 390px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .App {
    width: 100%;
    margin: 0 auto;
  }
}
